.header {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  padding: 10px 10px 10px 40px;
  width: 100%;
  min-height: 80px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(135deg, #6372d3, #0e0fc9);
}
