.wrapper {
  width: 300px;
  padding: 20px 20px 60px 20px;
  background-color: rgb(239, 238, 238);
}

.nav {
  margin-bottom: 50px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:nth-child(4) {
    margin-bottom: 100px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.icon {
  display: block;
  height: 24px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  text-decoration: none;
  color: #4f4d4d;
  transition: all 0.2s ease-in;
}

.active {
  &::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4f4d4d;
  }
}
