.dialogs {
  width: 100%;
}

.bg {
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  background-image: url('./../../../public/img/dialogs-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  padding: 20px;
  border: 2px solid blue;
}
